body{
    background: #fff;
}
#notice{
   background: #ccc; 
}
#notice .container{
    width:1000px;
    margin:0 auto;
    overflow: hidden;
}
#notice .container .list{
    list-style: none;
    float:left;
}
#notice .container .list li{
    float:left;
    margin-right:8px;
    cursor:pointer;
}
#notice .container .list:after{
    display:block;
    content:'';
    clear:both;
}
#register{
    float:right;
}
#register:after{
    display:block;
    content:'';
    clear:both;
}
#register ul{
    list-style: none;
}
#register ul li{
    float:left;
    display:inline-block;
    width:16px;
    height:16px;
    background: pink;
    cursor:pointer;
    margin-right: 2px;
}
#center{
    margin:0 auto;
    width:1000px;
}
#advertPic{
    height:90px;
    background: pink;
}
#smallad{
    margin-top:10px;
}
#advert .pic{
    display:inline-block;
    width:20px;
    height:10px;
    background: greenyellow;
}
#searchArea{
    float:right;
}
#advert{
    margin:10px 0;
}
#nav ul{
    margin:0;
    padding:0;
    list-style: none;
    border:1px solid #ccc;
    border-right:none;
    overflow:hidden;
}
#nav ul li{
    float:left;
    border-right: 1px solid #ccc;
    padding:4px 9px;
    cursor:pointer;
}
#nav ul li:hover{
    background: #ff0000;
}
#main{
    float:left;
}
#main .list-group-item{
    width:670px;
    border-top:1px solid #ccc;
    padding:8px 15px 8px 0;
    border-right: 1px solid #ccc;
    overflow:hidden;
    position:relative;
}
#main .list-group-item h2{
    color:#ff0000;
    border-bottom: 1px solid #ccc;
    margin:10px 0 7px 0;
    font-weight: bold;
}
#main .hd-news img{
    float:left;
    margin-right: 5px;
}
#main .list-group-item .small_title{
    margin:14px 0 5px 0;
}
#main .list-group-item ul{
    margin:0;
    padding:0;
}
#main .list-group-item .first li{
    float:left;
    margin:0 4px;
}
#main .list-group-item li{
    list-style-position: inside;
}
#main .list-group-item .desc{
    position: absolute;
    top:10px;
    right:10px;
}
#main .small-detail{
    border-top:1px solid #ccc;
}
#main .small-detail .first li{
    float:left;
    padding:8px 5px;
    border-right:1px solid #ccc;
}
#main .small-detail .second,#main .small-detail .first{
    overflow: hidden;
    list-style: none;
    display:inline-block;
}
#main .small-detail .second{
    background: #eee;
    border:1px solid #ccc;
    border-right: none;
    border-bottom: 2px solid #000;
    margin-top:15px;
}
#main .small-detail .second li{
    float:left;
    padding:5px 10px;
    border-right:1px solid #ccc;
    background: #eee;
}
#main .small-detail .second li:hover{
    color:#ff0000;
    font-weight: bold;
}

#main .small-detail .desc{
    top:100px;
}

#main .pic-3{
    border-top:1px solid #ccc;
}

#main .pic-3 .desc{
    top:20px;
}
#main .small-nav p{
    background: #ccc;color:#666;line-height: 30px;height:30px;text-align: center;margin:3px 0;
}
/**/
#main .video {
    border-top:1px solid #000;
}
#main .video a{
    float:left;
    margin-right: 1px;
}
#main .video img{
    float:left;
    margin:0;
}
#main .video p{
    margin:0;
}
#main .video .desc{
    top:32px;
}

/**/
#main .pic-list{
    border-top:1px solid #000;
}

#main .pic-list .left{
    width:290px;
    float:left;
    overflow: hidden;
}
#main .pic-list .left a{
    float:left;
    margin-right: 15px;
    margin-bottom: 10px;
}
#main .pic-list .left img{
    float:left;
    margin:0;
}
#main .pic-list .left p{
    margin:0;
}
#main .pic-list .right{
    margin-left:15px;
    float:right;
    width:350px;
}
#main .pic-list .right h3{
    margin:0 0 8px;
}
#main .pic-list .right li{
    list-style: none;
    padding:10px 0;
    border-bottom: 1px solid #ccc;
}
#main .pic-list .right li.first{
    padding-top: 0;
}
#main .pic-list .right li p{
    margin:0;
}
#main .pic-list .right .last{
    border:none;
}
#main .pic-list .desc{
    top:32px;
}
/*dfdf*/

#main .pic-list-small .left{
    overflow:hidden;
    margin-right: 15px;
    float:left;
}
#main .pic-list-small p{
    margin:0;
}
#main .pic-list-small .right{
    margin-left: 15px;
    float:right;
    width:350px;
}
#main .pic-list-small .right h3{
    margin: 0 0 8px;
}
#main .pic-list-small .right li{
    list-style: none;
    padding:10px 0;
    border-bottom: 1px solid #ccc;
}
#main .pic-list-small .right li.first{
    padding-top: 0;
}
#main .pic-list-small .right li.last{
    border:none;
}
#main .pic-list-small desc{
    top:32px;
}